Library/*
Temp/*
!Library/ArtifactDB
!Library/EditorInstance.json
!Library/EditorOnlyScriptingSettings.json
!Library/EditorSnapSettings.asset
!Library/InspectorExpandedItems.asset
!Library/LastSceneManagerSetup.txt
!Library/ScriptMapper
!Library/Artifacts/*
!Library/ScriptAssemblies/Assembly-CSharp.dll
!Library/ScriptAssemblies/Assembly-CSharp.pdb
!Library/Bee/1300b0aE.dag_fsmtime
!Library/Bee/backend_profiler0.traceevents
!Library/Bee/fullprofile.json
!Library/Bee/tundra.digestcache
!Library/Bee/tundra.log.json
!Library/Bee/TundraBuildState.state
!Library/Bee/TundraBuildState.state.map
!Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
!Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.pdb
!Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.ref.dll